<div><%= link_to 'new', new_post_path, class: 'btn btn-default btn-primary' %></div>
<div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>Created at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @posts %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
